{{form_start(form,{attr: {class: 'filter'}})}}
{{form_row(form.q)}}

<h5>Category</h5>
{{form_row(form.categories)}}

<h5>Prix</h5>
<div class="row">
	<div class="col-md-6">
		{{form_row(form.min)}}

	</div>
	<div class="col-md-6">
		{{form_row(form.max)}}

	</div>

	<h5>Promotions</h5>
	{{form_row(form.promo)}}


</div>

<button type="submit" class="btn btn-primary w-100">Filtrer</button>

{{form_end(form)}}
